<!DOCTYPE html>
<html lang="en">
<%- Head %>
<body>
    <%- Header %>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            ActiveNavigation('<%= Path %>')
        })
    </script>
    <%- Navigation %>
    <%- Layout %>
</body>
</html>