<!DOCTYPE html>
<html lang="en">
  <%- Head %>

  <body>
    <%- Header %> <%- Navigation %> <%- Layout %> 
    <%- JSON.stringify(result) %>
    <script>
      var jsonData = <%- JSON.stringify(result) %>;
  
      // Mengambil elemen-elemen tabel
      var table = document.getElementById("myTable");
  
      // Membuat header berdasarkan atribut JSON pertama
      var firstItem = jsonData[0];
      var headerRow = document.createElement('tr');
      for (var key in firstItem) {
          var th = document.createElement('th');
          th.textContent = key;
          headerRow.appendChild(th);
      }
      table.getElementsByTagName('thead')[0].appendChild(headerRow);
  
      // Memasukkan data dari JSON ke dalam tabel
      jsonData.forEach(function (item) {
          var row = document.createElement('tr');
  
          for (var key in item) {
              var cell = document.createElement('td');
              cell.textContent = item[key];
              row.appendChild(cell);
          }
  
          table.getElementsByTagName('tbody')[0].appendChild(row);
      });
  </script>
  
    
</body>
</html>
